@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    background-color:  rgb(239, 129, 65);
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space;
        background-color:  rgb(240, 240, 240);

}

.header > h1 {
    font-family: "Lobster", sans-serif;
    color: rgb(8, 6, 2);
    font-size: 40px;
}


section{
    text-align: center;
    margin: 0 auto;
    width: 300px;
}

texto{
    text-align: center;
    color: rgb(0, 0, 0);
}

h1{

    color: rgb(0, 0, 0);
    

}

.imgs {
    text-align: center;
    display: flex;
}

.imgs > img {
    width: 300px;
    margin: 10px;
    border-radius: 3px;
}

.logo {
    width: 100px;
    border-radius: 50px;

}

.btt {
    background-color: rgb(239, 129, 65) ;
    border-radius: 10px;
}

